In [1]:
#Create a model to predict diabetes
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn import datasets

In [2]:
# Load the diabetes dataset
data = datasets.load_diabetes()

In [3]:
df=pd.DataFrame(data=data['data'], columns=data['feature_names'])

In [4]:
df.head(2)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204

In [5]:
df['Target']=data['target']
df.head(2)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0

In [6]:
df['sex']=df['sex'].astype('category')
df['sex']=df['sex'].cat.codes

In [7]:
df.head(2)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,1,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,0,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0

In [8]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'Target'],
      dtype='object')

In [9]:
X=df[['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']]
X.head(2)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,1,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,0,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204

In [10]:
y=df['Target']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
#feature scaling
y = np.array(y)
y = y.reshape(-1,1) 
y_train = np.array(y_train)
y_train = y_train.reshape(-1,1)
y_test = np.array(y_test)
y_test = y_test.reshape(-1,1)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
y = sc.fit_transform(y)
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
y_train = sc.fit_transform(y_train)
y_test = sc.fit_transform(y_test)

C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

# Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X, y)
y_prediction = LR.predict(X)
#Accuracy
from sklearn.metrics import r2_score
linear = r2_score(y, y_prediction)
linear

0.5177494254132934

# Polynomial

In [14]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree=3)
X_poly = poly_reg.fit_transform(X)
X_poly
PR = poly_reg.fit(X_poly, y)
LR2 = LinearRegression()
LR2.fit(X_poly, y)
y_prediction_poly = LR2.predict(poly_reg.fit_transform(X))
polynomial = r2_score(y, y_prediction_poly)
polynomial

0.7985348869938614

# Random Forest

In [15]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(random_state=0, n_estimators=100)
RFR.fit(X, y)
y_prediction_rf = RFR.predict(X)
random_forest = r2_score(y, y_prediction_rf)
random_forest

C:\Users\naikp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9187659202270244

# Decision Tree

In [16]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor(random_state=5)
DTR.fit(X_train, y_train)
y_prediction_tree = DTR.predict(X_test)
decision_tree = r2_score(y_test, y_prediction_tree)
decision_tree

0.08923772559012944

# SVM

In [17]:
from sklearn.svm import SVR
SVR = SVR(kernel='rbf')
SVR.fit(X, y)
y_prediction_svr = SVR.predict(X)
SVM = r2_score(y, y_prediction_svr)
SVM

C:\Users\naikp\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.650188912791168

# Scores

In [18]:
print("linear {} %\npolynomial {} %\nrandom_forest {} %\ndecision_tree {} %\nSVM {} %".format(linear*100,polynomial*100,random_forest*100,decision_tree*100,SVM*100))

linear 51.77494254132934 %
polynomial 79.85348869938615 %
random_forest 91.87659202270244 %
decision_tree 8.923772559012944 %
SVM 65.0188912791168 %