In [2]:
import pandas as pd
weather_data = {
    'day': ['1/1/2018','1/2/2018','1/3/2018','1/4/2018','1/5/2018','1/6/2018'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2018           32          6   Rain
1  1/2/2018           35          7  Sunny
2  1/3/2018           28          2   Snow
3  1/4/2018           24          7   Snow
4  1/5/2018           32          4   Rain
5  1/6/2018           31          2  Sunny

In [3]:
df['day'][df['temperature']==df['temperature'].max()]  #which day temp is max prints only the date

1    1/2/2018
Name: day, dtype: object

In [4]:
df[df['temperature']==df['temperature'].max()]  #which day temp is max prints the row info

        day  temperature  windspeed  event
1  1/2/2018           35          7  Sunny

In [5]:
df['temperature'].std()  #std div for temp

3.8297084310253524

In [8]:
df['event'].max() #mean wont work since data type is string

'Sunny'

In [9]:
df.describe()  #only numeric value columns considered

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [38]:
df.set_index('day')  #change index to day
#df.set_index('day',inplace=True)

          level_0  index  temperature  windspeed  event
day
1/1/2018        0      0           32          6   Rain
1/2/2018        1      1           35          7  Sunny
1/3/2018        2      2           28          2   Snow
1/4/2018        3      3           24          7   Snow
1/5/2018        4      4           32          4   Rain
1/6/2018        5      5           31          2  Sunny

In [39]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
#df.loc['1/2/2018']
#df.iloc[2]

In [47]:
df.reset_index()
df

   index       day  temperature  windspeed  event
0      0  1/1/2018           32          6   Rain
1      1  1/2/2018           35          7  Sunny
2      2  1/3/2018           28          2   Snow
3      3  1/4/2018           24          7   Snow
4      4  1/5/2018           32          4   Rain
5      5  1/6/2018           31          2  Sunny

In [48]:
#df.pop('level_0')
df

   index       day  temperature  windspeed  event
0      0  1/1/2018           32          6   Rain
1      1  1/2/2018           35          7  Sunny
2      2  1/3/2018           28          2   Snow
3      3  1/4/2018           24          7   Snow
4      4  1/5/2018           32          4   Rain
5      5  1/6/2018           31          2  Sunny

In [49]:
df.set_index('event',inplace=True)

In [50]:
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2018           32          6
Sunny      1  1/2/2018           35          7
Snow       2  1/3/2018           28          2
Snow       3  1/4/2018           24          7
Rain       4  1/5/2018           32          4
Sunny      5  1/6/2018           31          2

In [51]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2018           28          2
Snow       3  1/4/2018           24          7